<section class="container conteudo">
    <div class="col-6">
        <form>
            <label for="usuario">Usuário:</label>
            <input type="text" class="form-control">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control">
            <button class="btn">Entrar</button>
        </form>
    </div>
    <div id="empresa" class="col-6">
        <img src="../../assets/img/logo.png" alt="Logo da empresa">
        <h3>Music Collection Interface</h3>
    </div>
</section>